<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>All Lectures</title>
        <link rel="stylesheet" href="./css/style.css" />
    </head>
    <body>
        <header>
            <div class="header-content">
                <span class="site-name">freeCodeCamp</span>
            </div>
            <div class="navbar">
                <div class="menu-links">
                    <a href="./index.html" class="menu-button">Home</a>
                    <span class="divider">|</span>
                    <a href="#top" class="menu-button">Top</a>
                </div>
            </div>
        </header>
        <main>
            <section>
                <h2>Content:</h2>
                <nav>{{ content }}</nav>
            </section>
            <section>{{lessons}}</section>
        </main>
    </body>
</html>
